@import "./variables/font";

*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "./components/header";
@import "./components/footer";
@import "./components/about";
@import "./components/vision";
@import "./components/mission";
@import "./components/responsibility";
@import "./components/founderMessage";
@import "./components/groupCompanies";