@import "../variables/font";

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    h1 {
        font-family: "Cinzel";
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 150%;
        text-align: center;
        letter-spacing: 0.1em;
        color: #474747;
        margin: 40px;
    }
    .logoDivider {
        margin: 20px;
    }
    .infoContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url("../../images/pexels-laura-tancredi-7078717.jpg");
        box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.721);
        background-size: cover;
        padding: 60px 95px;
        .firstPara {
            font-family: "Roboto Flex";
            font-style: italic;
            font-weight: 1000;
            font-size: 20px;
            line-height: 150%;
            text-align: center;
            letter-spacing: 0.03em;
            color: #474747;
            font-stretch: 132;
            font-variation-settings: "GRAD" 0, "slnt" -5, "XTRA" 468, "XOPQ" 96, "YOPQ" 79, "YTLC" 514, "YTUC" 712,
                "YTAS" 750, "YTDE" -203, "YTFI" 738;
            margin: 30px 290px 30px 290px;
        }
        img {
            margin: 10px;
        }
        .cardContainer {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
            .rows {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                gap: 10px;
                .cards {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 30px 20px;
                    gap: 50px;
                    width: 440px;
                    height: 354px;
                    background: #fafafa;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 10px;
                    .cardsPara {
                        font-family: "Roboto Flex";
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 150%;
                        letter-spacing: 0.03em;
                        color: #474747;
                    }
                }
            }
        }
        .blackDivider {
            width: 1440px;
            height: 153.33px;
            background: rgba(0, 0, 0, 0.8);
            margin: 40px;
        }
        .infoParas {
            /* para large */
            font-family: "Roboto Flex";
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 150%;
            /* or 36px */
            text-align: justify;
            letter-spacing: 0.03em;
            margin: 30px 200px 30px 200px;
            /* text */
            color: #474747;
        }
    }
}
